.DraftStatusLeague {
  padding: 20px 10px;
}

.rt-tbody {
        height:275px;
        justify-content: flex-start;
        flex: 1 1 auto;
        position: relative; /* need this to position inner content */
        overflow-y: auto;
}
.rt-tr-group {
        min-height:25px;
        max-height:100px;
}
.rt-thead {
        flex: 0 0 auto;
}