.ImportedLeagueViewTable {
        height:600px;
        width: 700px;
        justify-content: flex-start;
        flex: 1 1 auto;
        position: relative; /* need this to position inner content */
        overflow-y: auto;
}